body {
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}
.exchange {
  display: none;
}

#arbitrage-detail {
  height: 6%;
  display: none;
  width: 98%;
  margin-left: 1%;
  margin-top: 10px;
  padding-top: 3%;
}
#arbitrage-section {
  width: 100%;
}
.nav {
  justify-content: space-around;
  font-size: 18px;
}
.container {
  height: 100%;
}

#arbitrage {
  overflow: auto;
}
.exchange {
  width: 100%;
  overflow: auto;
}

#exchange-one-information-table_paginate {
  margin-bottom: 10%;
}
